.otherFunctions {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
}

.link {
  margin: 10px;
}

.backButton {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}