.categoryItem {
  width: 100px;
  height: 100px;
  padding: 15px;
  border: solid 1px gray;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

.categoryItem:hover {
  transform: scale(1.1, 1.1);
}

.symbol {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 0 auto;
}

p {
  text-align: center;
}